/*********************************************
CSS Styles for CSE Motors

1. General Styles
  1.0 @imports
  1.1 Box Model
  1.2 Universal Styles
  1.3 Header
  1.4 Navigation
  1.5 Body
    1.50 Welcome
    1.51 Call to Action
    1.52 Delorean Reviews
    1.53 Delorean Upgrades
    1.54 Notice Flash
  1.6 Footer
2. Classification Card
  2.0 Inv Display
  2.1 Name Price
3. Vehicle Details
  3.0 Vehicle
  3.1 Vehicle Info
6. Login Page
  6.0 Login
  6.1 Register
  6.2 Logout
4. Media Queries
  4.0 General
  4.1 Header
  4.2 Navigation
  4.3 Body
    4.30 Welcome
    4.31 Call to Action
    4.32 Delorean Reviews
    4.33 Delorean Upgrades
  4.4 Footer
5. Vehicle Details
  5.0 Vehicle
  5.1 Vehicle Info
6. Vehicle Management Table
********************************************/

/******* 1.0 @imports *************/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:wght@700&display=swap');

/******* 1.1 Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/******* 1.2 Universal Styles ***************/
/******* 1.3 Header *************/
.siteName {
  font-family: Merriweather, serif;
  font-size: 2rem;
  margin-left: 1rem;
}

.siteName a {
  color: black;
  text-decoration: none;
}

#tools {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  float: right;
  white-space: nowrap;
}

#tools a {
  color: black;
  text-decoration: none;
  /* margin-right: 10px; */
}

#tools a:hover {
  color: #007bff;
}

#Welcome-message {
  font-weight: bold;
  margin-right: 10px;
} 

#myAccount {
  font-weight: bold;
}

/******* 1.4 Navigation *************/
nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: black;
  padding: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-family: Lato, sans-serif;
  font-size: large;
}

nav ul li a:hover {
  color: #ff0000;
}

/******* 1.5 Body *************/
#wrapper {
  max-width: 1000px;
  margin: 0 auto;
  font-family: Lato, sans-serif;
  background-color: white;
  padding: 1rem;
  font-family : Lato, sans-serif;
}

/******* 1.50 Welcome *************/
.welcome img {
  width: 100%;
  height: auto;
}

/********** 1.54 Notice ***********/
.notice {
  list-style-type: none;
  background-color: rgb(223, 174, 174);
  font: italic bold 1rem Lato, sans-serif;
  padding: 0.5rem;
  margin: 1rem;
}

/******* 1.51 Call to Action *************/
.callToAction {
  background-color: rgba(255, 255, 255, 0.7);
  color: white;
  padding: 1rem;
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translate(-50%, -50%);
  padding: 5px;
  text-align: center;
}

.callToAction p, h3{
  color:rgb(6, 122, 131);
  font-size: medium;
  font-weight: bolder;
  margin: 5px;
}

.callToAction button {
  background-color: rgb(21, 222, 236);
  padding: .5rem;
}

/******* 1.52 Delorean Reviews *************/
.delorean-reviews ul li {
  padding: 5px 0px;
}

/******* 1.53 Delorean Upgrades *************/
.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 95%;
}

.item {
  text-align: center;
  background-color: rgb(21, 222, 236);
  border: solid 1px black;
}

.item img {
  display: block;
  margin: 0 auto;
  padding: 1rem;
}

.item a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.item a:hover {
  color: #ff0000;
}

/******* 1.6 Footer *************/
footer{
  max-width: 1000px;
  padding: 1rem;
}

/*********** Classifications ***********/
/******* 2.1 Inv Display *************/
#inv-display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.5rem;
}

#inv-display a {
  color: black;
  text-decoration: none;
}

#inv-display a:hover {
  color: #ff0000;
}

#inv-display li {
  display: flex;
  flex-direction: column;
  list-style: none;
  flex: 0 0 25%;
  border: 2px solid gray;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 1rem;
}

#inv-display hr {
  width: 200px;
  height: 5px;
  background-color: black;
}

#inv-display img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 1rem;
}

/******* 2.2 Name Price *************/
.namePrice h2 {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.namePrice {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  margin-top: auto;
}

/******* 3. Vehicle Details *************/
/******* 3.0 Vehicle *************/
.vehicle {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.vehicle img {
  width: 100%;
  height: auto;
  border: black 3px solid;
}

/******* 3.1 Vehicle Info *************/
.vehicleInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  border: 2px solid gray;
  border-radius: 8px;
  box-shadow: black 5px 5px 5px;
  margin-top: 20px;
}

/********** Error Page ***********/
/********** 4.0 Error Page ***********/
h1 {
  text-align: center;
  font-size: 3rem;
}
.error p {
  text-align: center;
  font-size: 1.25rem;
}

img {
  display: block;
  width: 50%;
  margin: auto;
}

/********** Login Page ***********/
/********** 6.0 Login ***********/
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.form {
  border: 2px solid silver;
  border-radius: 8px;
  padding: 1rem;
}

.login-container form {
  width: 400px;
  background-color: rgb(21, 222, 236);
  padding: 1rem;
  border-radius: 8px;
}

.loginForm input {
  display: block;
  margin: 5px;
  padding: 5px;
  width: 200px;
}

#sign-up {
  text-align: center;
}

/********** 6.1 Register ***********/
.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.register-container form {
  width: 400px;
  background-color: rgb(21, 222, 236);
  padding: 1rem;
  border-radius: 8px;
}

.register-container input {
  display: block;
  margin: 5px;
  padding: 5px;
  width: 200px;
}

.register-container button {
  margin: 5px;
  padding: 5px;
  width: 200px;
}

#show-password {
  margin: 5px;
  background-color: black;
  color: white;
  border-radius: 8px;
  margin-bottom: 10px;
}

.register {
  border: 2px solid silver;
  border-radius: 8px;
  padding: 1rem;
}

input:required:focus:invalid {
  border: 2px solid red;
}

input:required:focus:valid {
  border: 2px solid green;
}

/********** 6.2 Management ***********/
.management-links li {
  padding: 0.25rem;
  font-size: larger;
}

/* ******* 6.3 Add Classification *************/
.add-classification-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.add-classification-form form {
  width: 300px;
  background-color: rgb(21, 222, 236);
  padding: 1rem;
  border-radius: 8px;
}

.add-classification-form input {
  display: block;
  margin: 5px;
  padding: 5px;
  width: 200px;
}

.add-classification-form button {
  margin: 5px;
  padding: 5px;
  width: 150px;
}

#inv-management {
  color: black;
  text-align: left;
  justify-content: left;
  font-size: 1.5rem;
}

/********** 6.4 Add Vehicle ***********/
.add-inventory-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.add-inventory-form form {
  width: 300px;
  background-color: rgb(21, 222, 236);
  padding: 1rem;
  border-radius: 8px;
}

.add-inventory-form input, textarea, select {
  display: block;
  margin: 5px;
  padding: 5px;
  width: 200px;
}

.add-inventory-form button {
  margin: 5px;
  padding: 5px;
  width: 150px;
}

/******** 6.5 Vehicle Management Table *************/
#inventoryDisplay {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 1rem;
}

#inventoryDisplay th {
  background-color: rgb(21, 222, 236);
  padding: 1rem;
  text-align: center;
}

#inventoryDisplay tr:nth-child(even) {
  background-color: rgb(242, 239, 239);
}

#inventoryDisplay tr:hover {
  background-color: #ddd;
}

#inventoryDisplay th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(21, 222, 236);
  color: black;
}

#inventoryDisplay td {
  padding: 8px;
  text-align: left;
}

#account-update form {
  margin-bottom: 20px;
  background-color: rgb(21, 222, 236);
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  justify-content: center;
  align-items: center;
}

#password-update form {
  margin-bottom: 20px;
  background-color: rgb(21, 222, 236);
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  justify-content: center;
  align-items: center;
}

#account-update label {
    display: block;
    margin-bottom: 5px;
}

#password-update label {
  display: block;
  margin-bottom: 5px;
}

#account-update input {
  padding: 8px;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 10px;
}

#password-update input {
  padding: 8px;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 10px;
}

#account-update button {
  padding: 8px;
  cursor: pointer;
  text-align: left;
}

#password-update button {
  padding: 8px;
  cursor: pointer;
  text-align: left;
}

#account-update li {
  padding: 0.5rem;
}

#password-update li {
  padding: 0.5rem;
}

/******* Media Queries *************/
/******* 4.0 General *************/
@media (min-width: 820px) {

  /******* 4.1 Header *************/
  .siteName {
    font-size: 3rem;
  }

  #tools {
    width: 15%;
    font-size: 1.25rem;
  }

  /******* 4.2 Navigation *************/

  nav ul li a {
    font-size: x-large;
  }

  /******* 4.3 Body *************/
  body {
    background-image: url('../images/site/checkerboard.jpg');
  }

  #wrapper {
    border: 5px solid rgb(21, 222, 236);
    border-radius: 8px;
  }
  
  /******* 4.30 Welcome *************/
  .welcome img {
    height: 50%;
    justify-content: center;
    position: relative;
  }

  /******* 4.31 Call to Action *************/
  .callToAction {
    color: white;
    position: absolute;
    top: 65%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .callToAction p, h3{
    color:rgb(6, 122, 131);
    font-size: 2rem;
    font-weight: bolder;
    margin: 5px;
  }

  .callToAction button {
    margin-top: 10px;
    background-color: rgb(21, 222, 236);
    padding: 1rem;
    font-size: large;
  }

  /******* 4.32 Delorean Reviews *************/
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .delorean-reviews {
    flex: 0 0 48%;
    margin: 2rem;
    order: 2;
    white-space: inherit;
  }

  .delorean-reviews ul li {
    font-size: large;
  }

  /******* 4.33 Delorean Upgrades *************/
  .upgrades {
    flex: 0 0 48%;
    margin: 1rem;
    order: 1;
    gap: 1rem;
  }
  
  /******* 4.4 Footer *************/
  footer {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  /******* 5. Vehicle Details *************/
  /******* 5.0 Vehicle *************/
  .vehicle {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }

  .vehicle h2 {
    grid-column: 1 / 3;
    font-size: 1.5rem;
    text-align: center;
  }

  .vehicle img {
    width: 100%;
    grid-column: 1 / 2;
    margin: auto;
    }

  /******* 5.1 Vehicle Info *************/
  .vehicleInfo {
    grid-column: 2 / 3;
    margin: auto;
  }

  .vehicleInfo p {
    font-size: 1.25rem;
  }

  /******* 6.3 Add Classification *************/
  .add-classification-form form {
    width: 400px;
  }

  .add-inventory-form form {
    width: 400px;
  }
}
