<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    <% messages() %>
    <ul class="management-links">
        <li><a href="/inv/add-classification">Add New Classification</a></li>
        <li><a href="/inv/addInventory">Add New Inventory</a></li>
    </ul>