<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<div class="error">
<h1><%-subject %></h1>
<p><%- message %></p>
<img src="<%- errorImgURL %>" alt="Error Pic">
</div>